* {
    box-sizing: border-box;
}

body {
    margin: 0px;

    background-image: url("./src/canadaforest.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    font-family: monospace;
}
#greeting {
    height: 100vh;
    width: 100%;
}
div#center {
    position: absolute;
    height: 10%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    text-align: center;

    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
div#center > img {
    height: 100%;

    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.5);
}

div#center > h1 {
    text-shadow: 3px 3px 0px rgba(0,0,0,0.5);

    padding-left: 10px;
}
div#center > img, div#center > h1 {
    vertical-align: middle;
    display: inline-block;
}

p#scrolldown {
    position: absolute;
    top: calc(100vh - 50px);
    left: 50%;
    transform: translate(-50%, 0%);

    animation: fadein 8s ease-in-out 0s 1 normal, scrolldownbounce 1s ease-in-out 0s infinite alternate;
}

div#aboutme {
    width: 100%;
    height: 100vh;

    padding: 20px;

    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

div#aboutme > iframe {  /* aboutme.html iframe */
    height: 100vh;
    width: 50%;

    background-color: white;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.5);

    border-radius: 10px;
    border: 2px solid #EEEEEE;

    transition: border 0.5s;
}
div#aboutme > iframe:hover {border: 2px solid black}

div#aboutme > h1 {
    text-shadow: 3px 3px 0px rgba(0,0,0,0.5);
    animation: socialsbounce 1s ease-in-out 0s infinite alternate;
}

div#aboutme > a { /* Socials/Connections pannels */
    height: 10vh;
    width: calc(50% - 20px);

    background-color: white;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.5);

    border-radius: 10px;
    border: 2px solid #EEEEEE;

    margin: 0px 0px 20px 20px;
    overflow-x: auto;
    overflow-y: hidden;

    transition: border 0.5s;

    text-align: center;
}
div#aboutme > a:hover {border: 2px solid black}

div#aboutme > a > img { /* Socials/Connections image */
    height: 100%;
    padding: 1vh 0px 1vh 0px;
}

div#aboutme > a > h1 { /* Socials/Connections text */
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

div#aboutme > a > img, div#aboutme > a > h1 {  /* Socials/Connections image and text */
    vertical-align: middle;
    display: inline-block;
}

div#skills, div#projects {  /* skills and projects section have similar css so we grouped them together here */
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
}

div#skills > h1, div#projects > h1 {
    width: 100%;
    height: 32px;

    text-shadow: 3px 3px 0px rgba(0,0,0,0.5);
    animation: socialsbounce 1s ease-in-out 0s infinite alternate;
}
.tierTitle {
    width: 50%;
    height: 32px;

    margin: 0px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.5);
}

div#skills > div {
    width: calc(50% - 40px);
    height: 60%;
    margin: 20px;

    display: flex;
    flex-flow: row wrap;

}

.tierColumn {
    width: 100%;
    height: 10vh;

    background-color: #121212;
    border: 1px solid black;

    box-shadow: 5px 5px 0px rgba(0,0,0,0.5);

    display: flex;
    flex-flow: row wrap;
}

.tier {
    width: 15%;
    height: 100%;

    top:auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
}

.tierColumn > img {
    height: calc(100% - 10px);
    margin: 5px;
}

div#skills > p, div#projects > p {width: 100%;} /* div#skills > p is temporay */

/* template
.project {
    height: 20vw; vw intended
    width: 15vw;

    margin: 20px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.5);
    text-decoration: none;
}

.project > h1, .project > p {color: black;}

*/

div#footer {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    text-align: center;

    padding: 10px;
}

div#footer > h3, div#footer > a {
    width: 100%;
    color: white;
}

div#footer > h3 {text-shadow: 3px 3px 0px rgba(0,0,0,0.5);}

/* Animations below */

@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes scrolldownbounce {
    0% {transform: translate(-50%, -100%);}
    100% {transform: translate(-50%, 0%);}
}
@keyframes socialsbounce {
    0% {transform: translate(0%, -25%);}
    100% {transform: translate(0%, 25%);}
}

@media only screen and (max-width: 900px) {
    div#aboutme {
        flex-flow: row wrap;
        align-items: center;
        min-height: 100vh;
        height: auto;
    }
    div#aboutme > iframe {
        height: 500px;
        width: 100%;
    }
    div#aboutme > a, div#aboutme > h1{
        width: 100%;
    }

    div#skills > div {
        width: 100%;
    }

}
